<div class="masthead">
  <div class="kie-slide-0">
    <div class="wrapper">
      <h3>Drools</h3>
      <p>
        Drools is a business rule management system with a forward-chaining and backward-chaining inference based rules engine, allowing fast and reliable evaluation of business rules and complex event processing. A rule engine is also a fundamental building block to create an expert system which, in artificial intelligence, is a computer system that emulates the decision-making ability of a human expert.
      </p>
    </div>
  </div>
  <div class="kie-slide-1">
    <div class="wrapper">
      <h3>OptaPlanner</h3>
      <p>
        OptaPlanner is a lightweight, embeddable planning engine. It enables normal Java™ programmers to solve optimization problems efficiently. It is also compatible with other JVM languages (such as Kotlin and Scala)
      </p>
    </div>
  </div>
  <div class="kie-slide-2">
    <div class="wrapper">
      <h3>jBPM</h3>
      <ul>
        <li>Eclipse-based and web-based editor to support the graphical creation of your business processes (drag and drop).</li>
        <li>Pluggable persistence and transactions based on JPA / JTA.</li>
        <li>Pluggable human task service based on WS-HumanTask for including tasks that need to be performed by human actors.</li>
      </ul>
    </div>
  </div>
  <div class="kie-slide-3">
    <div class="wrapper">
      <h3>AppFormer</h3>
      <p>
        AppFormer is a low code platform to develop modern applications. It's a powerful tool for developers that can easily build applications by mashing up components and connect them to other Red Hat modules and software.
      </p>
      <p>
        We make building apps looks easy.
      </p>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $('.masthead').slick({
      autoplay: true
    });
  });
</script>

<script type="text/javascript" src="./assets/slick.min.js"></script>
