<div class="join-our-community">
  <hr/>
  <h2>Join our community</h2>
  <div class="row">
    <div class="column">
      <h3>Github</h3>
      <p>
        KIE projects live on <a href="https://github.com/kiegroup">github.com/kiegroup</a>.
      </p>
      <p>
        Take a look, clone, and
        <a href="https://github.com/kiegroup/droolsjbpm-build-bootstrap/blob/master/README.md">contribute</a>! :-)
      </p>
      <h3>Zulip</h3>
      <p>Got questions? Want to discuss an issue in real-time? Then join us on Zulip.</p>
      <p>
        Most of our project discussions take place there, usually during European and American daytime.
        Click <a href="https://kie.zulipchat.com">here</a> to join!
      </p>

      <h3>YouTube</h3>
      {% include youtube-widget.html %}
    </div>

    <div class="column">
      <h3>Twitter</h3>
      {% include twitter-widget.html %}
    </div>
  </div>
</div>
