<div class="join-our-community">
  <hr/>
  <div class="row">
    <div class="column">
      <h2>Join our community</h2>
      <p>Got questions? Want to discuss an issue in real-time? Then join us on IRC.</p>
      <p>Most of our project discussion take place on IRC, usually during European and American daytime.</p>
      <p>Chat with an IRC client: <a href="http://xchat.org">XChat</a> (Linux), <a href="http://colloquy.info">Colloquy</a> (Mac) and <a href="http://www.mibbit.com">Mibbit</a> (any browser).</p>
      <p>Configure the IRC server to <code>chat.freenode.net:6667</code> or <code>chat.freenode.net:6697</code>, and join us on one of the following channels:</p>
      <ul>
        <li><code>#drools</code></li>
        <li><code>#optaplanner</code></li>
        <li><code>#jbpm</code></li>
        <li><code>#appformer</code></li>
      </ul>
      <p>See our projects at <a href="https://github.com/kiegroup">github.com/kiegroup</a> and
        <a href="https://github.com/kiegroup/droolsjbpm-build-bootstrap/blob/master/README.md">contribute</a>.</p>
    </div>

    <div class="column">
      <h2>Social Media</h2>
      {% include youtube-widget.html %}
      {% include twitter-widget.html %}
    </div>
  </div>
</div>
