<div class="projects">
  <div class="row">
    <div class="column">
      <h3>
        <img src="./assets/kogito_logo.png" />
        Kogito
      </h3>
      <p>
        Kogito is the next generation of business automation platform focused on cloud-native development, deployment and execution.
      </p>
      <p>
        <a href="https://kogito.kie.org">Read more &rarr;</a>
      </p>
    </div>
    <div class="column">
      <h3>
        <img src="./assets/drools_logo.png" />
        Drools
      </h3>
      <p>
        Drools is a business rule management system with a forward-chaining and backward-chaining inference based rules engine, allowing fast and reliable evaluation of business rules and complex event processing.
      </p>
      <p>
        <a href="http://www.drools.org">Read more &rarr;</a>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="column">
      <h3>
        <img src="./assets/jbpm_logo.png" />
        jBPM
      </h3>
      <p>
        jBPM is a flexible Business Process Management suite allowing you to model your business goals by describing the steps that need to be executed to achieve those goals.
      </p>
      <p>
        <a href="http://www.jbpm.org">Read more &rarr;</a>
      </p>
    </div>
    <div class="column">
      <h3>
        <img src="./assets/optaplanner_logo.png" />
        Optaplanner
      </h3>
      <p>
        OptaPlanner  is a constraint solver that optimizes use cases such as employee rostering, vehicle routing, task assignment and cloud optimization.
      </p>
      <p>
        <a href="http://www.optaplanner.org">Read more &rarr;</a>
      </p>
    </div>
  </div>
</div>
