<div class="projects">
  <div class="row">
    <div class="column">
      <p>
        <img src="./assets/kogito_logo_small.png" />
        <span>Kogito</span> is the next generation of business automation platforms focused on cloud-native development, deployment, and execution. Kogito is composed of the battle-tested projects of the KIE group: Drools, jBPM, and OptaPlanner.
      </p>
      <p>
        <a href="https://kogito.kie.org">Read more &rarr;</a>
      </p>
    </div>
    <div class="column">
      <p>
        <img src="./assets/drools_logo_small.png" />
        <span>Drools</span> is a business rule management system with a forward-chaining and backward-chaining inference based rules engine, allowing fast and reliable evaluation of business rules and complex event processing.
      </p>
      <p>
        <a href="http://www.drools.org">Read more &rarr;</a>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="column">
      <p>
        <img src="./assets/jbpm_logo_small.png" />
        <span>jBPM</span> is a flexible Business Process Management suite allowing you to model your business goals by describing the steps that need to be executed to achieve those goals.
      </p>
      <p>
        <a href="http://www.jbpm.org">Read more &rarr;</a>
      </p>
    </div>
    <div class="column">
      <p>
        <img src="./assets/optaplanner_logo_small.png" />
        <span>OptaPlanner</span>  is a constraint solver that optimizes use cases such as employee rostering, vehicle routing, task assignment and cloud optimization.
      </p>
      <p>
        <a href="http://www.optaplanner.org">Read more &rarr;</a>
      </p>
    </div>
  </div>
</div>
