<div class="projects">
  <div class="row">
    <div class="column">
      <h3>Drools</h3>
      <p>
        Drools is a business rule management system with a forward-chaining and backward-chaining inference based rules engine, allowing fast and reliable evaluation of business rules and complex event processing.
      </p>
      <p>
        <a href="http://www.drools.org">Read more &rarr;</a>
      </p>
    </div>
    <div class="column">
      <h3>Optaplanner</h3>
      <p>
        OptaPlanner  is a constraint solver that optimizes use cases such as employee rostering, vehicle routing, task assignment and cloud optimization.
      </p>
      <p>
        <a href="http://www.optaplanner.org">Read more &rarr;</a>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="column">
      <h3>jBPM</h3>
      <p>
        jBPM is a flexible Business Process Management suite allowing you to model your business goals by describing the steps that need to be executed to achieve those goals.
      </p>
      <p>
        <a href="http://www.jbpm.org">Read more &rarr;</a>
      </p>
    </div>
    <div class="column">
      <h3>AppFormer</h3>
      <p>
        AppFormer is a low code platform to develop modern applications. It's a powerful tool for developers that can easily build applications by mashing up components and connect them to other Red Hat modules and software.
      </p>
      <p>
        We make building apps looks easy.
      </p>
      <p>
        <a href="http://appformer.org">Read more &rarr;</a>
      </p>
    </div>
  </div>
</div>
