
// Projects
// ––––––––––––––––––––––––––––––––––––––––––––––––––

.projects
  margin: 4rem 0 6rem
  .column
    padding: 0 3rem
    &.kogito
      max-width: 50%
      margin: 0 auto
      img
        max-width: 60%
        margin-bottom: 10px
    &.drools
      .column-logo img
        margin-top: 10px
        max-height: 70%
    &.jbpm
      .column-logo img
        margin-top: 15px
        max-height: 65%
    &.optaplanner
      .column-logo img
        margin-top: 15px
        max-height: 80%
    .column-logo
      height: 80px
  p
    text-align: center
  .row
    margin-top: 30px
  img
    display: block
    margin: 0 auto
  a
    text-transform: uppercase
    font-weight: 800
    font-size: 1.5rem
  .column + .column
    border-left: 2px solid #BBB

@media (max-width: 50.0rem)
  .projects
    .row
      display: block
      flex: 1 1 auto
    .column
      & + .column
        border-left: none
      &.kogito
        max-width: 100%
        margin: initial
        margin-bottom: 40px
        img
          max-width: 400px
          width: 80%
      &.drools .column-logo img,
      &.jbpm .column-logo img,
      &.optaplanner .column-logo img
        max-width: 80%
      margin-bottom: 40px